html, body {    
	font-family: "Helvetica Neue", Helvetica, sans-serif;   
	color: #444; 
	background-color: #2196F3;
}

#logincontainer {
	position: fixed;
	width: 340px;
	height: 200px;
	top: 20%;
	left: 35%;
}

#title{
	text-align: center;
	background-color: #dddddd;
	width: 100%;
	height: 100%;
	padding: 12px;
	margin-top: -7px;
	margin-left: -12px;
}

#signup-link{
	text-align: center;
	display: block;
	margin: 12px;
}

form {
	margin: 0 auto;
	margin-top: 20px;
}

fieldset{
	background-color: white;
}

label {
	color: #555;
	display: inline-block;
	padding-top: 10px;
	font-size: 16px;
}

input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	outline: none;
}
input[type=text], input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 30px;
}

input[type=checkbox] {
	margin-left: 20px;
	margin-top: 30px;
}

input[type=submit] {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
	height: 30px;
	background: green linear-gradient(#28A745, green);
}

legend{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}