/*
  ============================================
  Styles
  ============================================
*/

.default_color{
    background-color: #2196F3;
}
#index-banner {
    min-height: 630px;
    background: #2196F3;
    text-align: center;
}
#index-banner h1 {
    margin-top: 15%;
}
.text_b {
    color: #2196F3;
}
.header {
    text-align: center;
}
body {
    font-size: 1.2em;
}

/*
  ============================================
  Landing
  ============================================
*/

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #fff;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #fff;
}
.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}
.cd-headline.type b {
    visibility: hidden;
}
.cd-headline.type b.is-visible {
    visibility: visible;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

/*
  ============================================
  About
  ============================================
*/

.lead {
    font-size: 2em;
    /*margin: 15% 0;*/
}
.lead p {
    margin-top: 20%;
}

/*
  ============================================
  Work
  ============================================
*/

.card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 15px 15px 0;
}

.card-content i {
    font-size: 1.5rem;
    margin: 0;
}
.card-content a {
    color: #2196F3;
}

.card-content a:hover {
    color: #2196F3;
}

/*
  ============================================
  Skills
  ============================================
*/

.skills {
    margin: 15% 0;
    vertical-align: center;
}
.skills p {
    font-size: 2em;
    font-style: italic;
}

/*
  ============================================
  Contact
  ============================================
*/

.contact {
    /*font-size: 1.5em;*/
    padding-left: 10%;
    text-align: center;
}
/*
  ============================================
  Footer
  ============================================
*/

footer {
    position: relative;
    background: #2196F3 !important;
    bottom: 0;
}

footer ul {
    margin-left: -7%;
}

footer ul li {
    display: inline-block;
    margin-left: 5%;
}
.footer-copyright {
    background: #2196F3 !important;
}

/*
  ============================================
  Icons
  ============================================
*/

@font-face {
    font-family:"technology-icons";
    src:url("../fonts/icons/technology-icons.eot");
    src:url("../fonts/icons/technology-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/technology-icons.woff") format("woff"),
    url("../fonts/icons/technology-icons.ttf") format("truetype"),
    url("../fonts/icons/technology-icons.svg?#technology-icons") format("svg");
    font-weight:normal;
    font-style:normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "technology-icons", serif;
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.icon-java:before {
    content:"\f137";
}
.icon-python:before {
    content:"\f13d";
}
.icon-css3:before {
    content:"\f171";
}
.icon-html5:before {
    content:"\f172";
}
.icon-github-circle:before {
    content:"\f160";
}

.icons-container {
    padding-left: 20%;
}
.icons p {
    margin-top: 0;
    font-size: 1em;
}
em {
    font-size: 4.5em;
    display: inline-block;
    text-align: center;
}